<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>9ja Connect</title>

    <!-- Link to external Css -->
    <link rel="stylesheet" href="/css/styles.css" />

    <!-- Link to external JavaScript -->
    <script src="/js/main.js" defer></script>
  </head>
  <body>
    <header class="container">
      <div class="text-center">
        <h1 class=""><a href="/profile">9ja connect</a></h1>
        <span>Feel at home thousand miles away from home</span>
      </div>
    </header>
  </body>
</html>
