<%- include('partials/header') -%>
<section class="edit">
  <div class="container">
    <h2>Edit Your Profile!</h2>

    <!-- Profile pic change -->
    <p>change your profile picture</p>
    


</section>


<%- include('partials/footer') -%>
