<%- include('partials/preLoginheader') -%>

<!-- <main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="btn btn-outline"> Login</a>
        <a href="/signup" class="btn btn-outline"> Signup</a>
    </div>
</main> -->
    <section class="index">
      <div class="container">
        
      </div>
    </section>

<%- include('partials/footer') -%>

<!-- <div class="card w-96 bg-base-100 shadow-xl">
  <figure class="px-10 pt-10">
    <img src="https://placeimg.com/400/225/arch" alt="Shoes" class="rounded-xl" />
  </figure>
  <div class="card-body items-center text-center">
    <h2 class="card-title">Shoes!</h2>
    <p>If a dog chews shoes whose shoes does he choose?</p>
    <div class="card-actions">
      <a href="/login" class="btn btn-outline"> Login</a>
      <a href="/signup" class="btn btn-outline"> Signup</a>
    </div>
  </div>
</div> -->