<%- include('partials/preLoginheader') -%>

<!-- <main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="btn btn-outline"> Login</a>
        <a href="/signup" class="btn btn-outline"> Signup</a>
    </div>
</main> -->
    <section class="index">
      <div class="container">
        <div class="hero min-h-screen" style="background-image: url(https://placeimg.com/1000/800/arch);">
          <div class="hero-overlay bg-opacity-60"></div>
          <div class="hero-content text-center text-neutral-content">
            <div class="max-w-md">
              <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
              <p class="mb-5">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
              <a href="/login" class="btn btn-outline"> Login</a>
              <a href="/signup" class="btn btn-outline"> Signup</a>
            </div>
          </div>
        </div>
      </div>
    </section>

<%- include('partials/footer') -%>

<!-- <div class="card w-96 bg-base-100 shadow-xl">
  <figure class="px-10 pt-10">
    <img src="https://placeimg.com/400/225/arch" alt="Shoes" class="rounded-xl" />
  </figure>
  <div class="card-body items-center text-center">
    <h2 class="card-title">Shoes!</h2>
    <p>If a dog chews shoes whose shoes does he choose?</p>
    <div class="card-actions">
      <a href="/login" class="btn btn-outline"> Login</a>
      <a href="/signup" class="btn btn-outline"> Signup</a>
    </div>
  </div>
</div> -->