<%- include('partials/preLoginheader') -%>

<!-- <main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="btn btn-outline"> Login</a>
        <a href="/signup" class="btn btn-outline"> Signup</a>
    </div>
</main> -->
    <section class="index">
      <div class="container">
          <div class="index-content space">
            <div class="index-box">
                <div class="img">
                  <img src="/img/img-1.jpg" alt="">
                </div>
                <div class="text">
                  <p class="text-xs">About us?</p>
                  <h1 class="text-6xl font-bold text-orange-600">Our Mission.</h1>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ipsam, sint minima suscipit quis minus voluptatem vel harum eum sed dolorum totam voluptates numquam amet.</p>
                </div>
            </div>
          </div>

          <div class="services">
            <div class="section-heading">
              <p class="text-xs">what we do?</p>
              <h1 class="text-4xl font-bold text-orange-600">Our Services.</h1>
            </div>

            <div class="services-grid space">
                <div class="services-box">
                    <i class="fas fa-globe service-icon"></i>
                    <h3 class="sub-heading">worldwide</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, cumque.</p>
                </div>
                    
                <div class="services-box">
                    <i class="fas fa-hiking service-icon"></i>
                    <h3 class="sub-heading">Adventures</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, cumque.</p>
                </div>
    
                <div class="services-box">
                    <i class="fas fa-hiking service-icon"></i>
                    <h3 class="sub-heading">Food & Drinks</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, cumque.</p>
                </div>
    
                <div class="services-box">
                    <i class="fas fa-hiking service-icon"></i>
                    <h3 class="sub-heading">Food & Drinks</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, cumque.</p>
                </div>
            </div>
          </div>
          

        <div class="gallery">
            <div class="section-heading">
              <p class="text-xs">Create memories and have fun!</p>
              <h1 class="text-4xl font-bold text-orange-600">Our Gallery.</h1>
            </div>

            <div class="gallery-grid space">
            <div class="img">
              <img src="/img/img-2.jpg" alt="">
            </div>
            <div class="img">
              <img src="/img/img-3.jpg" alt="">
            </div>
            <div class="img">
              <img src="/img/img-4.jpg" alt="">
            </div>
            <div class="img">
              <img src="/img/img-5.jpg" alt="">
            </div>
            <div class="img">
              <img src="/img/img-2.jpg" alt="">
            </div>
            <div class="img">
              <img src="/img/img-1.jpg" alt="">
            </div>
          </div>
        </div>
        
      </div>
    </section>

<%- include('partials/footer') -%>

<!-- <div class="card w-96 bg-base-100 shadow-xl">
  <figure class="px-10 pt-10">
    <img src="https://placeimg.com/400/225/arch" alt="Shoes" class="rounded-xl" />
  </figure>
  <div class="card-body items-center text-center">
    <h2 class="card-title">Shoes!</h2>
    <p>If a dog chews shoes whose shoes does he choose?</p>
    <div class="card-actions">
      <a href="/login" class="btn btn-outline"> Login</a>
      <a href="/signup" class="btn btn-outline"> Signup</a>
    </div>
  </div>
</div> -->