@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Roboto', sans-serif;
    }
  }

/* general styles */
section{
    min-height: 80vh;
}


.container {
    width: 85%;
    max-width: 1500px;
    margin: 0 auto;
}

.profile-grid{
    display: grid;
    grid-gap: 3em;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
}

.index-content{
    display: flex;
}
.box{
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
}